.faqContainer{
  max-width: 1364px;
  margin: 0 auto;
  padding: 0 2rem;
  padding-bottom: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.titleFaqContainer{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.titleFaq{
  font-size: 2.5rem;
  font-weight: 800;
  line-height: auto;
  letter-spacing: 5%;
  color: #010549;
  font-family: 'Poppins', sans-serif;
}
.raioAzul{
  height: 5rem;
  width: auto;
}
.questionsContainer{
  height: auto;
  margin-top: 2.5rem;
  border-radius: 1.25rem;
}
.questionAndanswer{
  background: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 2rem;
  border: 2px solid transparent;
  border-radius: 1.75rem;
  padding: 2rem 5rem;
  color: #010549;

    &:hover{
    cursor: pointer;
    border: 2px solid #0311fe;
  }
}
.questionsQueryContainer{
  display: grid;
  grid-template-columns: 95% 5%; 
  align-items: flex-start;
  justify-items: flex-end;
  gap: 1rem;
}
.question{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.answer, .cta{
  font-family: 'Roboto', monospace;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.5;
  margin-top: 1rem;
}
.answerAndCTA{
  display: flex;
  flex-direction: column;
}
.cta{
  font-size: 1rem;
  width: auto;
  margin: 0 auto;
  margin-top: 2rem;
  border: 2px solid #0311fe;
  border-radius: 0.5rem;
  background-color: transparent;
  padding: 1rem 3rem 1rem 2rem;
  position: relative;
  color: #0311fe;

  &:hover{
    cursor: pointer;
    background-color: #0311fe;
    color: white;
  }
  .ctaIcon{
    position: absolute;
    top: 60%;
    left: 89%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}
/* Responsivo */
@media(max-width: 1400px){
  .faqContainer{
    margin-top: 1rem;
  }
  .titleFaq{
  font-size: 2.3rem;
  }
  .raioAzul{
  height: 4.8rem;
  }
}
@media(max-width: 900px){
  .questionAndanswer{
    padding: 1.5rem 3rem;
  }
}
@media(max-width: 800px){
  .faqContainer{
    margin-top: -2rem;
  }
}
@media(max-width: 600px){
  .titleFaq{
    font-size: 1.5rem;
  }
  .raioAzul{
    height: 3rem;
  }
  .question{
    font-size: 1.3rem;
  }
  .answer{
    font-size: 1rem;
  }
  .questionAndanswer{
    margin-bottom: 1.5rem; 
  }
  .cta{
    font-size: 0.8rem;
    margin-top: 1.2rem;
    margin-bottom: 0.2rem;
    background-color: #0311fe;
    color: white;
  }
  .ctaIcon{
    height: 1.1rem;
    width: auto;
    margin-left: -0.5rem;
  }
}
@media(max-width: 500px){
  .titleFaq{
    font-size: 1.4rem;
  }
  .titleFaqContainer{
  gap: 0.5rem;
}
  .raioAzul{
    height: 2.7rem;
  }
  .question{
    font-size: 1rem;
    line-height: 1.4;
  }
  .answer{
    font-size: 0.9rem;
  }
  .cta{
    font-size: 0.65rem;
  }
   .ctaIcon{
    margin-left: -0.8rem;

  }
  .questionsContainer{
    margin-top: 1.2rem;
  }
  .questionAndanswer{
    margin-bottom: 1.4rem;
    padding-top: 1.5rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    border-radius: 1.2rem;
  }
}
@media(max-width: 370px){
  .titleFaq{
    font-size: 1.12rem;
  }
  .titleFaqContainer{
    gap: 0.2rem;
  }
  .raioAzul{
    height: 2.4rem;
  }
  .questionsContainer{
    margin-top: 1rem;
  }
  .questionAndanswer{
    margin-bottom: 1.5rem;
    border-radius: 1.4rem;
  }
  .faqContainer{
    padding: 0 1.2rem;
  }
  .cta{
    font-size: 0.58rem;
    padding: 0.9rem 2.2rem 0.9rem 1.2rem;
  }
  .ctaIcon{
    margin-left: -0.4rem;
    height: 0.9rem;
  }
}
@media(max-width: 300px){
   .question{
    font-size: 0.8rem;
  }
  .questionsQueryContainer{
    gap: 0.5rem;
  }
  .answer{
    font-size: 0.72rem;
    line-height: 1.4;
  }
}
@media(max-width: 290px){
  .cta{
    font-size: 0.4rem;
    padding: 0.8rem 2rem 0.8rem 1rem;
  }
  .ctaIcon{
    margin-left: -0.4rem;
    height: 0.9rem;
  }
   .titleFaq{
    font-size: 1rem;
  }
  .titleFaqContainer{
    gap: 0.2rem;
  }
}