.delorianSolucoesContainer{
  max-width: 1364px;
  margin: 0 auto;
  padding: 0 2rem;
}
.titleDelorianSolucoes{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2.5rem;
  margin-bottom: 3.75rem;
  padding-top:1.25rem;
}
.raioAzul {
  height: 4.8rem;
  width: auto;
}
.delorianResolve{
  font-size: 2.5rem;
  font-weight: 800;
  line-height: auto;
  letter-spacing: 5%;
  color: #010549;
  font-family: 'Poppins', sans-serif;
}
.delorianResolveDivTitle{
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  max-width: min-content;
  gap: 2.5%;
}
.problemSolutionContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
  grid-auto-flow: dense;
  padding-bottom: 1rem;
  justify-items: center;
}
.solucoes{
  padding: 3rem 2rem;
  background: white;
  max-width: 31.25rem;
  height: 30rem;
  border-radius:0.5rem;
  border: solid 1px rgba(0, 0, 0, 0.25); 
  align-items: flex-start;
  justify-items: center;
}
.titleSolucoes {
  font-size: 1.563rem;
  font-family: 'Poppins', sans-serif;
  color: #000064;
  line-height: 107%;
  letter-spacing: 1.5%;
  font-weight: 600;
  text-align: start;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.resumeSolucoes {
  font-size: 1.188rem;
  font-family: 'Roboto', monospace;
  color: #000000;
  line-height: 127%;
  letter-spacing: 1.8%;
  font-weight: 400;
}
.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 90%;
  margin-top: 2rem;
}




@media (max-width: 1400px){
  .problemSolutionContainer{
    padding-bottom: 0rem;
   }
   .delorianResolve{
    font-size: 2.3rem;
  }
  .raioAzul{
    height: 4.2rem;
  }
}
@media (max-width: 1200px) {
  .problemSolutionContainer{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
  .solucoes{
    padding: 2rem 1.5rem;
   }
   .titleSolucoes {
    font-size: 1.188rem;
    flex-wrap: nowrap;
  }
  .resumeSolucoes {
    font-size: 1.125rem;
  }
  .imageContainer{
    width: 15.625rem;
    }
}
@media (max-width: 1045px) {
  .problemSolutionContainer{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
@media (max-width: 1000px) {
  .problemSolutionContainer{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-bottom: 4rem;
  }
  .imageContainer{
    margin: 0 auto;
    }
    .titleDelorianSolucoes{ 
      margin-top: 2.188rem;
      padding-top: 1.125rem;
      gap: 0.5rem;
    }
    .delorianResolve{
      font-size: 2.2rem;
    }
    .raioAzul {
      height: 4.2rem;
    }
    .solucoes{
      padding: 3rem;
      gap: 1rem;
      height: 25rem;
     }
}
 @media (max-width: 600px) {
  .titleDelorianSolucoes{ 
    gap: 0.5rem;
    margin-top:1.25rem;
    padding-top: 0.625rem;
    margin-bottom: 1.875rem;
  }
  .raioAzul {
    height: 3rem;
  }
  .delorianResolve{
    font-size: 1.5rem;
  }
  .titleSolucoes {
    font-size: 1.125rem;
  }
  .resumeSolucoes {
    font-size: 0.875rem;
  }
  .solucoes{
    gap: 1rem;
    padding: 2rem;
    max-width: 100%;
    height: 320px;
  }
  .imageContainer{
  height: 6.25rem;
  }
}
 @media (max-width: 500px) {
  .problemSolutionContainer{
    justify-content: center;
  }
  .delorianSolucoesContainer{
    padding: 0 2rem;
  }
  .titleDelorianSolucoes{ 
    margin-top:1.25rem;
    padding-top: 0.625rem;
    margin-bottom: 1.875rem;
    gap: 0.5rem;
  }
  .raioAzul {
    height: 3rem;
  }
  .imageContainer{
    margin-bottom: 1rem;
  }
}
 @media (max-width: 300px) {
  .problemSolutionContainer{
    justify-content: center;
  }
  .delorianSolucoesContainer{
    padding: 0 1rem;
  }
  .titleDelorianSolucoes{ 
    gap: 0.2rem;
    margin-top: 1rem;
    padding-top: 0.25rem;
    margin-bottom:1.25rem;
  }
  .raioAzul {
    height: 1.8rem;
  }
  .delorianResolve{
    font-size: 1rem;
  }
  .titleSolucoes {
    font-size: 0.688rem;
    margin: 0.2rem;
  }
  .resumeSolucoes {
    font-size: 0.563rem;
    padding-bottom: 2rem;
  }
  .solucoes{
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    width: 12.5rem;
    height: 10.625rem;
  }
  .imageContainer{
    height: auto;
    width: 6.25rem;
    margin: 0;  
  } 
}