.motoChamaDelorianContainer{
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 65vw;
  background: rgba(92, 99, 105, 0.30); 
  padding: 3rem;
  z-index: -1;
  margin-bottom: 2rem;
}
.chamaDeloriamImage{
  width: 45vw;
}
.motoImg{
  width: 60%; 
  padding-bottom: 20rem;
  right: 0rem;
  z-index: 999;
  position: absolute;
}
@media (max-width: 1700px){
  .motoChamaDelorianContainer{
    height: 74vw;
  }
  .chamaDeloriamImage{
    width: 42vw;
  }
  .motoImg{
    top: 5rem; 
    right: 2rem;
  }
} 
/* @media (max-width: 1400px){
  .motoChamaDelorianContainer{
    margin-top: 8rem;
  }
}  */
@media (max-width: 1200px){
  .motoChamaDelorianContainer{
    height: 80vw;
  }
} 
@media (max-width: 1000px){
  .motoChamaDelorianContainer{
    height: 90vw;
  }
} 
@media (max-width: 900px){
  .motoChamaDelorianContainer{
    height: 150vw;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-bottom: 12.5rem;
    z-index: -1;
  }
  .chamaDeloriamImage{
    width: 100%;
  }
  .motoImg{
    width: 95%; 
    top: 16rem; 
  }
}
@media (max-width: 700px){
  .motoChamaDelorianContainer{
    height: 160vw;
  }
  .motoImg{
    top: 12rem;
  }
}
@media (max-width: 600px){
  .motoImg{
    top: 10rem;
  }
}